extends ../admin/crud.pug

block content
    h1.titulo Actualizar Videojuego
        table
            thead
                tr.leer
                    th.leer Título del Videojuego
                    th.leer Id
                    th.leer URL de la Imagen
                    th.leer URL del Trailer
                    th.leer Plataforma
                    th.leer Costo
                    th.leer Precio
                    th.leer Stock
                    th.leer Modificar
            tbody
                each v in videojuego
                    tr.leer
                        td.leer= v.titulo
                        td.leer= v.id_videojuego
                        td.leer
                            a.botoncrud(href=`${v.imagen}` target='_blank') Imagen
                        td.leer
                            a.botoncrud(href=`${v.trailer}` target='_blank') Trailer
                        td.leer= v.videojuego_plataformas.id_plataforma
                        td.leer= v.videojuego_plataformas.costo
                        td.leer= v.videojuego_plataformas.precio
                        td.leer= v.videojuego_plataformas.stock
                        td.leer
                            a.botoncrud(href=`/admin/modificarVideojuego/${v.id_videojuego}`) Modificar
