extends ../admin/crud.pug

block content
    h1.titulo Crear Videojuego
    form.forms(action="/admin/crearVideojuego", method="POST" enctype="multipart/form-data")
        div
            label.labels(for="titulo") Título del Videojuego:
            input.inputs(type="text", name="titulo", required=true)

        div
            label.labels(for="imagen") Imagen del Videojuego:
            input.inputs(type="file" name="imagen" required)

        div
            label.labels(for="trailer") URL del Trailer:
            input.inputs(type="text", name="trailer", required=true)

        div
            label.labels(for="id_plataforma") Plataforma:
            select.inputs(name="id_plataforma", id="id_plataforma", required=true)
                each datos in info
                    option(value=datos.dato1 selected) #{datos.dato2}
        div
            label.labels(for="costo") Costo:
            input.inputs(type="number", name="costo", required=true)

        div
            label.labels(for="precio") Precio:
            input.inputs(type="number", name="precio", required=true)

        div
            label.labels(for="stock") Stock:
            input.inputs(type="number", name="stock", required=true)

        div
            button(type="submit" class="button") Crear Videojuego

